<!DOCTYPE html>
<html>
  <head>
  <!--bootstrap-->
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!--SCRAPE-->
   <script>$(document).ready(function () {
            //first form submission
            $('#linksubmit').click(function () {
                var payload = {
                    link: $('#link').val()


                };
                console.log("This is working payload:" + payload)
               
                $.ajax({
                    url: "/submit",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload.link),
                    complete: function (data) {
                        $('#output').html(data.responseText);
                        console.log(data)
                    }
                });
            });
                //second form submission
                  $('#scrapesubmit').click( function() {
                var payload = {
                    link: $('#scrapelink').val(),
                    item: $('#scrapeItem').val(),
                };
                console.log("This is working secondData:" + payload.link +" " + payload.item)


                $.ajax({
                    url: "/scrape",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                        $('#secondOutPut').html(data.responseText);
                        console.log(data)
                    }
                });
                })
                  


        });


</script>
  </head>
  <body>
<!--     <h3>Enter a link to enter into the database:</h3>
    <input id="link" type="text" />
    <input id="linksubmit" type="submit" />
    <p id="output"></p> -->
  <div class="row">
    <div class="col-md-6">
    <h3> Enter a Link to Be Scraped</h3>
    <input id="scrapelink" type="text"/>
    <h3> What Item?</h3>
    <input id="scrapeItem" type="text"/>
    <input id="scrapesubmit" type="submit" method="post"/>
    </div>
  </div>
    <p id="secondOutPut"></p>
{{!--     <h3> Database</h3>
    <button  id="databaseSubmit" type="submit" method="post"/>Database</a> --}}
    
    {{{ body }}}
  </body>
</html>